{% extends "EasyMove/base.html" %}
{% load static %}
}


{% block css-file %}
    <link rel="stylesheet" href="{% static "css/responsive-home.css" %}">
{% endblock %}


{% block content %}

{% if request.session.username %}

     <div id="welcomePage">
	     <div id="welcome">
	        <h1>Welcome to EasyMove!</h1>
	        <h2>Start your study abroad life here.</h2>
	     </div>


        {# For logged-in user, their location should be memorized #}
	    <div id="findLocation">
	 	    <img src="{% static  "img/site/location-mark.png" %}" alt="location mark" style="height: 30px" />
	 	    <p>{{ request.session.location}}</p>
	 	    <button id="changeLocation" data-ajax-url="{% url "EasyMove:change-location" %}">Change Location</button>
	    </div>

        <hr class="divider">

        <div class="recent-activity">
            {% include "actions/action/feed.html" %}
        </div>

{% else %}

     <div id="welcomePage">
	     <div id="welcome">
	         <h1>Welcome to EasyMove!</h1>
	         <h2>Start your study abroad life here.</h2>
	     </div>

        <div id="findLocation">
	    	<img src="{% static  "img/site/location-mark.png" %}" alt="location mark" style="height: 30px" />

            {#  User who didn't log in should select their own location #}
	    	<p>Find your location here</p>
	    	<form>
	    		<input type="text" name="location">
	    		<input type="submit" name="submit" value="Go Find!">
	    	</form>
	    </div>

{% endif %}
    </div>

<div id="itemList">
    {% if request.session.username %}
    {# Only logged-in users are able to use the filter function #}
    <div id="sortTools">
	    <div id="deliverOptions">
	    	<input type="checkbox" id="checkDeliver" name="deliver" checked>
	    	<label for="checkDeliver">Deliver</label>
	    	<input type="checkbox" id="checkPickup" name="pickup" checked>
	    	<label for="checkPickup">Pickup</label>
	    	<input type="checkbox" id="checkMail" name="mail" checked>
	    	<label for="checkMail">Mail</label>
	    </div>
	    <div id="sort">
	    	<select name="sortBy" id="sortBy">
	    		<option value="newest">Newest</option>
	    		<option value="priceH">Price:H</option>
	    		<option value="priceL">Price:L</option>
	    	</select>
		</div>
	</div>
    {% endif %}

    <div id="items">
        {% if items|length == 0 %}
            <h2>Sorry, there are no items right now.</h2>
        {% else %}
            {% for item in items %}
                {# iterate items and present in this page #}
                <a href="{% url "EasyMove:item-detail" item.id %}" class="itemBox" data-created-date="{{ item.date_posted }}">
    	            <img src="{{ item.item_img.url }}" alt="{{ item.title }}" />

    	            <p class="price" data-item-price="{{ item.price }}">${{ item.price }}</p>

    	            <p class="itemName">{{ item.title}}</p>
    	            <p class="location">{{ item.location}}</p>
    	    	    <p class="availability">{{ item.availability}}</p>
    	        </a>
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}